{{ define "main" }}


<!-- banner -->
<section class="banner bg-cover" style="background-image: url('{{ .Site.Params.banner.bgImage | relURL }}');">
  <img src="{{ .Site.Params.banner.image | relURL }}" class="img-fluid illustration" alt="">
  <div class="container">
    <div class="row">
      <div class="col-lg-1 mb-lg-0">
      </div>
      <div class="col-lg-6 mb-6 mb-lg-0">
        <h1>{{ .Site.Params.banner.title | markdownify }}</h1>
      </div>
      <div class="col-lg-6 illustration-mobile">
        <img src="{{ .Site.Params.banner.image | relURL }}" class="img-fluid" alt="">
      </div>
    </div>
  </div>
</section>
<!-- /banner -->

<!-- focus area -->
{{ if .Site.Params.focus.enable }}
  {{ range $index, $elemen:= .Site.Data.focus.focus }}
  <section class="section pt-0">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mx-auto">
          <div class="row shadow bg-white p-5">
            <div class="col-md-4 text-center text-md-left mb-4 mb-lg-0">
              <img src="{{ .image | relURL }}" class="mr-4" alt="...">
            </div>
            <div class="col-md-8 text-center text-md-left">
              <h3 class="mt-0">{{ .title | markdownify }}</h3>
              <p>{{ .desp | markdownify }}</p>
             <a href="{{ .readlink | absURL }}"> <prole> {{ .readlabel }}</prole> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
   {{ end }}
 {{ end }}
<!-- /focus area -->


<!-- team -->

{{ if .Site.Params.team.enable }}
<section class="section pt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <div class="row shadow bg-white p-5">
          <div class="col-md-12 text-center text-md-left">
            <h2 class="mt-0">{{ .Site.Params.team.title | markdownify }}</h3>
          </div>
          <div class="col-md-12 text-center text-md-left"><hspan class="mt-0">Placeholder</hspan></div>
          {{ range $index, $elemen:= .Site.Data.people.faculty }}
          <div class="col-md-4 text-center text-md-center mb-4 mb-lg-0">
            <div class="table-responsive">
            <table class="mx-auto w-auto">
              <tr><td>
                <a href="{{ .link | absURL }}">
                  <img src="{{ .image | relURL }}" class="mr-4" width="170" height="170">
                </a>
              </td></tr>
              <tr><td><h4 class="mt-0">{{ .name | markdownify }}</h4></td></tr>
              <tr><td><prole class="mt-0">{{ .role | markdownify }}</prole></td></tr>
              <tr><td><prole class="mt-0">{{ .department | markdownify }}</prole></td></tr>
            </table>
           </div>   
          </div>
          {{ end }}

          <div class="col-md-12 text-center text-md-left"><hspan class="mt-0">Placeholder</hspan></div>

          {{ range $index, $elemen:= .Site.Data.people.student }}
          <div class="col-md-4 text-center text-md-center mb-4 mb-lg-0">
            <div class="table-responsive">
            <table class="mx-auto w-auto">
              <tr><td>  
                <a href="{{ .link | absURL }}">
                  <img src="{{ .image | relURL }}" class="mr-4" width="170" height="170">
                </a>
              </td></tr>
              <tr><td> <h4 class="mt-0">{{ .name | markdownify }}</h4> </td></tr>
              <tr><td> <prole class="mt-0">{{ .role | markdownify }}</prole> </td></tr>
              <tr><td> <prole class="mt-0">{{ .department | markdownify }}</prole> </td></tr>
            </table>
            </div>
            
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /team -->

<!-- ad -->
{{ if .Site.Params.ad.enable }}
<section class="section pt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <div class="row shadow bg-white p-5">
          <div class="col-md-4 text-center text-md-left mb-4 mb-lg-0">
            <img src="{{ .Site.Params.ad.image | relURL }}" class="mr-4" width="170" height="170">
          </div>
          <div class="col-md-8 text-center text-md-left">
            <h3 class="mt-0">{{ .Site.Params.ad.title | markdownify }}</h3>
            <p>{{ .Site.Params.ad.description | markdownify }}</p>
            <ul>
              <li>
                <a href="{{ .Site.Params.ad.formlink | absURL }}"><prole>Complete this form</prole></a>
              </li>
              <li>
                <a href="{{ .Site.Params.ad.contactlink | absURL }}"> <prole>Click to email us</prole> </a>
              </li>
            </ul>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /ad -->

{{ end }}